# Python caches
__pycache__/
*/__pycache__/
**/__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# VS Code
.vscode/
*/.vscode/
**/.vscode/

# OS junk
Thumbs.db
Desktop.ini

# uv
uv.lock

# tests
tests